{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Nous Contacter</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                    <li class="breadcrumb-item active"> Nous contacter </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2>FORMULAIRE</h2>
                    <p>Veuillez remplir ce formulaire pour nous contacter</p>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="">Nom et Prénom</label>
                                    <input type="text" class="form-control" id="nameMsg" name="name" placeholder="Votre nom et prénom" required data-error="Veillez entrer votre Nom">
                                    <div id="nameErr1" class="text-danger">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="">Email</label>
                                    <input type="text" placeholder="Votre Email" id="emailMsg" class="form-control" name="email" required data-error="Veillez entrer votre email">
                                    <div id="emailErr1" class="text-danger">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="">Téléphone</label>
                                    <input type="tel" class="form-control" id="phoneMsg" name="name" placeholder="Entrez votre numéro de téléphone" required data-error="Veillez entrer votre Nom">
                                    <div id="phoneErr1" class="text-danger">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="">Objet</label>
                                    <input type="text" class="form-control" id="subjectMsg" name="name" placeholder="Objet" required data-error="Veillez entrer le sujet">
                                    <div id="objectErr1" class="text-danger">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="">Message</label>
                                    <textarea class="form-control" id="messageMsg" placeholder="Votre Message" rows="4" data-error="Evrivez votre message" required></textarea>
                                    <div id="messageErr1" class="text-danger">
                                    </div>
                                </div>
                                <div class="submit-button text-center">
                                    <button class="btn btn-secondary hvr-hover" id="submitMsg" type="submit">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="contact-info-left">
                    <h2>NOUS CONTACTER</h2>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p> -->
                    <ul>
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i>Localisation: {{setting.localisation}} </p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-square"></i>Téléphone: <a href="{{setting.phoneNumber}}">{{setting.phoneNumber}}</a></p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope"></i>Email: <a href="mailto:{{setting.email}}">{{setting.email}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->





{% endblock content %}